/* Global */
* {
    box-sizing: border-box;
}

.border {
    border: 1px black solid;
}

/* Typography */

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

/* Layout */

.max-width {
    width: 100%;
    max-width: 1024px;
    padding: 1em;
}

.max-width-container {
    display: flex;
    justify-content: center;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.section-grid > * {
    grid-column: 1 / -1;
}

.global-footer__grid {
    display: grid;
    gap: 2em;
    grid-template-areas: "copyright"
                         "links";
}

.global-footer__copyright {
    grid-area: copyright;
}

.global-footer__links {
    grid-area: links;
}

.global-nav {
    display: grid;
    grid-template-columns: 2em auto 2em;
    grid-template-rows: 2em;
    grid-template-areas: "hamburger logo .";
}

.global-nav__hamburger {
    grid-area: hamburger;
}

.global-nav__logo {
    grid-area: logo;
    position: relative;
    height: 65px;
    width: 180px;
    justify-self: center;
}

.global-nav__links {
    grid-area: links;
    display: none;
}

.main > section:first-child {
    padding-top: 2em;
}

@media screen and (min-width: 600px) {
    .about-story__image {
        grid-column: 6 / 13;
    }

    .about-story__text {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }

    .about-shop__image {
        grid-column: 1 / 7;
    }

    .about-shop__text {
        grid-column: 8 / 13;
    }

    .global-footer__grid {
        grid-template-areas: "links"
                             "copyright";
    }

    .global-nav {
        grid-template-columns: min-content 1fr;
        grid-template-areas: "logo links";
    }

    .global-nav__hamburger-button {
        display: none;
    }

    .global-nav__links {
        display: block;
    }
}

/* Components */