/* GLOBAL */

* {
    box-sizing: border-box;
}

.border {
    border: 1px solid black;
}


/* LAYOUT */

.max-width {
    width: 100%;
    max-width: 1024px;
    padding: 1em;
}

.max-width-container {
    display: flex;
    justify-content: center;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.section-grid > * {
    grid-column: 1 / -1;
}

.main > section:first-child {
    padding-top: 2em;
}

@media (width >= 600px) {
    .main > section:first-child {
        padding-top: 3em;
    }
}


/* LAYOUT - Global Header */

.global-nav {
    display: grid;
    grid-template-columns: 2em 1fr 2em;
    grid-template-rows: 2em;
    grid-template-areas: "hamburger logo .";
}

.global-nav__hamburger-button {
    grid-area: hamburger;
}

.global-nav__logo {
    grid-area: logo;
    position: relative;
    justify-self: center;
    height: 65px;
    width: 180px;
}

.global-nav__links {
    grid-area: links;
    display: none;
}

@media (width >= 600px) {
    .global-nav {
        grid-template-columns: min-content 1fr;
        grid-template-areas: "logo links";
    }

    .global-nav__links {
        display: block;
    }

    .global-nav__hamburger-button {
        display: none;
    }

    .global-nav__logo {
        height: 90px;
        width: 250px;
    }
}


/* LAYOUT - Global Footer */

.global-footer__grid {
    display: grid;
    gap: 2em;
    grid-template-areas: "copyright"
                         "links";
}

.global-footer__copyright {
    grid-area: copyright;
}

.global-footer__links {
    grid-area: links;
}

@media (width >= 600px) {
    .global-footer__grid {
        grid-template-areas: "links"
                             "copyright";
    }
}


/* LAYOUT - Home Page */

.site-hero {
    height: 300px;
}

.site-hero__heading {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.site-hero .home-about {
    display: none;
}

.main > .home-about {
    display: block;
}

.home-about__cta-button {
    grid-column: 4 / -4;
}

.home-pies__image-1 {
    grid-row: span 3;
    grid-column: span 8;
}

.home-pies__image-2 {
    grid-row: span 1;
    grid-column: span 4;
}

.home-pies__image-3,
.home-pies__image-4,
.home-pies__image-5,
.home-pies__image-6 {
    grid-row: span 1;
    grid-column: span 2;
}

.home-pies__cta-button {
    grid-column: 4 / -4;
}

.home-visit__image {
    display: none;
}

.home-visit__address {
    grid-column: 1 / 7;
}

.home-visit__hours {
    grid-column: 7 / 13;
}

.home-visit__cta-button {
    grid-column: 4 / -4;
}

@media (width >= 600px) {
    .home-pies__image-1,
    .home-pies__image-6 {
        grid-column: span 4;
        grid-row: span 2;
    }

    .home-pies__image-2 {
        grid-column: 5 / 7;
        grid-row: 2 / 3;
    }

    .home-pies__image-3 {
        grid-column: 7 / 9;
        grid-row: 2 / 3;
    }

    .home-pies__image-4 {
        grid-column: 5 / 7;
        grid-row: 3 / 4;
    }
    
    .home-pies__image-5 {
        grid-column: 7 / 9;
        grid-row: 3 / 4;
    }

    .home-pies__text-1,
    .home-pies__text-2 {
        grid-column: span 6;
    }

    .home-pies__cta-button {
        grid-column: 6 / -6;
    }

    .home-visit__image {
        display: block;
        grid-column: 1 / 8;
        grid-row: 2 / 4;
    }

    .home-visit__address,
    .home-visit__hours {
        grid-column: 9 / 13;
    }

    .home-visit__cta-button {
        grid-column: 6 / -6;
    }
}

@media (width >= 920px) {
    .site-hero {
        height: inherit;
    }

    .site-hero__slogan {
        grid-row: 1 / 2;
    }

    .site-hero .home-about {
        display: block;
        grid-column: 8 / 13;
        grid-row: 1 / 3;
    }

    .main > .home-about {
        display: none;
    }
}


/* LAYOUT - About Page */

@media (width >= 600px) {
    .about-story__image {
        grid-column: 7 / 13;
    }

    .about-story__text {
        grid-column: 1 / 6;
        grid-row: 2 / 3;
    }

    .about-shop__image {
        grid-column: 1 / 7;
    }

    .about-shop__text {
        grid-column: 8 / 13;
    }
}


/* LAYOUT - Pies Page */

.pies-list > .section-grid {
    grid-auto-rows: 10em;
}

@media (width >= 450px) {
    .pies-list > .section-grid {
        grid-auto-rows: 25em;
    }

    .pie {
        grid-column: span 6;
    }
}

@media (width >= 650px) {
    .pie {
        grid-column: span 4;
    }
}


/* LAYOUT - Visit Us Page */

.about-us__image-small-1,
.about-us__image-small-2 {
    grid-column: span 6;
}

@media (width >= 600px) {
    .about-us__image-large-1 {
        grid-row: 2 / 3;
        grid-column: 1 / 9;
    }

    .about-us__image-small-1 {
        grid-row: 2 / 3;
        grid-column: 9 / 13;
    }

    .about-us__address {
        grid-column-start: 2;
        grid-column-end: span 4;
    }

    .about-us__hours {
        grid-column-start: span 4;
        grid-column-end: 12;
    }

    .about-us__image-small-2 {
        grid-column: span 4;
    }

    .about-us__image-large-2 {
        grid-column: span 8;
    }
}


/* TYPOGRAPHY */

h1, h2, h3 {
    font-family: bebas-neue, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

p {
    font-family: avory-i-latin, sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

li a {
    color: white;
    text-decoration: none;
    font-family: avory-i-latin, sans-serif;
}


/* COMPONENTS */

img {
    max-width: 100%;
}

.page-heading {
    background: #ebebeb;
}


/* COMPONENTS - GLOBAL HEADER */

.global-header {
    background: #003531;
}

.global-nav__logo img {
    height: 100%;
    object-fit: cover;
}

.global-nav__links ul {
    display: flex;
    justify-content: end;
    gap: 1.5em;
}

.global-nav__links {
    margin: auto 0;
}


/* COMPONENTS - GLOBAL FOOTER */

.global-footer {
    background: #000;
}

.global-footer__copyright {
    margin: 0 auto;
    color: white;
}

.global-footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

@media (width >= 600px) {
    .global-footer__links {
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
    }
}


/* COMPONENTS - HOME PAGE */

.site-hero {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 33%, transparent 33%, transparent 100%), url("../img/hero-image.png");
    background-size: cover;
}

.site-hero__slogan {
    color: white;
    justify-self: center;
    font-size: 1.1rem;
}

.cta-button {
    background-color: #457779;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "avory-i-latin", sans-serif;
    font-weight: 800;
    font-size: 0.8em;
    padding: 0.75em 0;
    border-radius: 0.75em;
    filter: drop-shadow(0 6px black);
    margin: 1.5em 0;
}

.home-about {
    background-color: white;
}

.home-about img {
    height: 100%;
    object-fit: cover;
}

.home-pies {
    background-color: #ebebeb;
}

.home-pies img {
    height: 100%;
    object-fit: cover;
}

.home-visit__address h3,
.home-visit__hours h3 {
    font-family: avory-i-latin, sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
}

.home-visit__address p,
.home-visit__hours p {
    margin-bottom: 0;
    font-size: 1.2rem;
}

@media (width >= 480px) {
    .site-hero {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 36%, transparent 36%, transparent 100%), url("../img/hero-image.png");
    }

    .site-hero__slogan {
        font-size: 1.7rem;
    }
}

@media (width >= 600px) {
    .site-hero {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 40%, transparent 40%, transparent 100%), url("../img/hero-image.png");
    }
}

@media (width >= 920px) {
    .site-hero {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 22%, transparent 22%, transparent 100%), url("../img/hero-image.png");
    }

    .site-hero__slogan {
        justify-self: left;
        font-size: 2rem;
    }
}


/* COMPONENTS - ABOUT PAGE */

.about-shop {
    background: #ebebeb;
}


/* COMPONENTS - VISIT US PAGE */

.about-us__text {
    margin: 0 auto;
}

.about-us img {
    height: 100%;
    object-fit: cover;
}

.about-us__address,
.about-us__hours {
    container: about-us-card / inline-size;
    background: #ebebeb;
}

.about-us-card__flex {
    display: flex;
    padding: 1em;
}

.about-us-card__flex h3 {
    flex-basis: 50%;
}

.about-us-card__flex p {
    margin-bottom: 0;
}

@container about-us-card (width < 275px) {
    .about-us-card__flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

